html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0 auto;
    margin-bottom: 25vh;
}
footer {
    margin-bottom: -5px;
    color: #9dd1f2;
    /* margin-top: 21vh; */
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25vh;

    color: white;

}


 footer a{
    color:#9dd1f2;
 }

 footer a:hover{
     background:white;
     color: black;
     text-transform: uppercase;
     text-decoration: none;
 }
 section{
    margin: 40px;
}
.card{
    margin:10px;
    background: #f8f9f7;
}

section h5{
    color:#59aaec;
}

header nav div a:hover{
   border-bottom: 3px solid rgb(91, 165, 207);

}
